PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mahati-textile-center?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
STORE_UPI_VPA=mahatitextiles@upi
STORE_NAME=Mahati Textile Center
STORE_PHONE=919912565482

# Cloudinary Free Tier Credentials (for image hosting)
CLOUDINARY_CLOUD_NAME=ynzaapdx
CLOUDINARY_API_KEY=162448698529218
CLOUDINARY_API_SECRET=VQn9fyhZFPbmRz8sMwRDcrXqytI